*.suo
*.user
*.userosscache
*.sln.docstates

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/

.vs/

project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

.vscode/

.builds
*.nupkg
**/packages/*
!**/packages/build/
